<div class="message">
  <div class="message-user">
    <%= message.user.username %> (<%= message.created_at.strftime("%I:%M%p") %>):
  </div>
  <div class="message-content">
    <%= image_tag message.user.dialect.icon.url(:thumb) %> <%= sanitize markdown_to_html(message.content) %>
  </div>
</div>
